@import 'sf-sweep';

body {
  background: #fafafa;
  font-family: 'Helvetica';
}

.wrapper {
  background: #fff;
  border:1px solid #eee;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

h1 {
  font-family: 'Helvetica';
  font-size: 60px;
  text-align: center;
}

section#index {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  a {
    padding: 1em;
    text-decoration: none;
    color: #000;
    font-family: 'Helvetica';

    &:hover {
      background: #4B84C3;
    }
  }
}
